<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title if title else "gr0vity's Projects" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <header class="header-container">
        <img src="{{ url_for('static', filename='images/header.png') }}" alt="Header Image" class="header-image">
        <div class="header-content">
            <h1 style="color: white; text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black; font-size: 36px;">made & maintained by gr0vity</h1>
        </div>
      </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer id="contact">
        <div class="container">
            <h2>Connect with me</h2>
            <div class="social-links">
                {% for link in social_links %}
                <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-{{ link.platform.lower() }}"></i>
                </a>
                {% endfor %}
            </div>
        </div>
    </footer>
</body>
</html>